## Car Price Prediction Model

In [63]:
# Importing Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [64]:
# Loading the Dataset

cars = pd.read_csv('/home/christine/Desktop/car price/Car-Price-Prediction-Challenge/car_price_prediction.csv',index_col = 0)

In [65]:
cars.head()

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
ID,,,,,,,,,,,,,,,,,
45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [66]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19237 entries, 45654403 to 45813273
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             19237 non-null  int64
 1   Levy              19237 non-null  object
 2   Manufacturer      19237 non-null  object
 3   Model             19237 non-null  object
 4   Prod. year        19237 non-null  int64
 5   Category          19237 non-null  object
 6   Leather interior  19237 non-null  object
 7   Fuel type         19237 non-null  object
 8   Engine volume     19237 non-null  object
 9   Mileage           19237 non-null  object
 10  Cylinders         19237 non-null  float64
 11  Gear box type     19237 non-null  object
 12  Drive wheels      19237 non-null  object
 13  Doors             19237 non-null  object
 14  Wheel             19237 non-null  object
 15  Color             19237 non-null  object
 16  Airbags           19237 non-null  int64
dtypes: float64(1), int64(3), object(13)
memory usage: 2.6+ MB

In [67]:
cars.shape

(19237, 17)

In [68]:
cars.columns

Index(['Price', 'Levy', 'Manufacturer', 'Model', 'Prod. year', 'Category',
       'Leather interior', 'Fuel type', 'Engine volume', 'Mileage',
       'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color',
       'Airbags'],
      dtype='object')

In [69]:
cars['Mileage'].value_counts()

0 km         721
200000 km    183
150000 km    161
160000 km    120
100000 km    119
            ...
84541 km       1
296391 km      1
576605 km      1
29853 km       1
109497 km      1
Name: Mileage, Length: 7687, dtype: int64

In [70]:
# Removing km from mileage column

cars['Mileage'] = cars.Mileage.str.replace('km','')

In [71]:
cars.head()

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
ID,,,,,,,,,,,,,,,,,
45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000,4.0,Variator,Front,04-May,Right-hand drive,Black,2
45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966,4.0,Automatic,4x4,04-May,Left wheel,White,0
45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [72]:
cars.describe()

              Price    Prod. year     Cylinders       Airbags
count  1.923700e+04  19237.000000  19237.000000  19237.000000
mean   1.855593e+04   2010.912824      4.582991      6.582627
std    1.905813e+05      5.668673      1.199933      4.320168
min    1.000000e+00   1939.000000      1.000000      0.000000
25%    5.331000e+03   2009.000000      4.000000      4.000000
50%    1.317200e+04   2012.000000      4.000000      6.000000
75%    2.207500e+04   2015.000000      4.000000     12.000000
max    2.630750e+07   2020.000000     16.000000     16.000000

In [73]:
# Changing Prod.year column from int to date

cars['Prod. year'] = pd.to_datetime(cars['Prod. year'],format = '%Y')

In [74]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19237 entries, 45654403 to 45813273
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             19237 non-null  int64
 1   Levy              19237 non-null  object
 2   Manufacturer      19237 non-null  object
 3   Model             19237 non-null  object
 4   Prod. year        19237 non-null  datetime64[ns]
 5   Category          19237 non-null  object
 6   Leather interior  19237 non-null  object
 7   Fuel type         19237 non-null  object
 8   Engine volume     19237 non-null  object
 9   Mileage           19237 non-null  object
 10  Cylinders         19237 non-null  float64
 11  Gear box type     19237 non-null  object
 12  Drive wheels      19237 non-null  object
 13  Doors             19237 non-null  object
 14  Wheel             19237 non-null  object
 15  Color             19237 non-null  object
 16  Airbags           19237 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(13)
memory usage: 2.6+ MB

In [76]:
# Investigate the Engine volume column
cars['Engine volume'].value_counts()

#Removing Turbo from Engine volume column
cars['Engine volume'] = cars['Engine volume'].str.replace('Turbo','')

#converting the engine volume column to float
cars['Engine volume'] = cars['Engine volume'].astype(float)

In [81]:
#Converting Levy column to float
cars['Levy'] = cars['Levy'].astype(float)

In [84]:
#converting mileage column to float
cars['Mileage'] = cars['Mileage'].astype(float)

In [85]:
cars.describe()

,Price,Levy,Engine volume,Mileage,Cylinders,Airbags
count,1.923700e+04,19237.000000,19237.000000,1.923700e+04,19237.000000,19237.000000
mean,1.855593e+04,2.307990,2.307990,1.532236e+06,4.582991,6.582627
std,1.905813e+05,0.877805,0.877805,4.840387e+07,1.199933,4.320168
min,1.000000e+00,0.000000,0.000000,0.000000e+00,1.000000,0.000000
25%,5.331000e+03,1.800000,1.800000,7.013900e+04,4.000000,4.000000
50%,1.317200e+04,2.000000,2.000000,1.260000e+05,4.000000,6.000000
75%,2.207500e+04,2.500000,2.500000,1.888880e+05,4.000000,12.000000
max,2.630750e+07,20.000000,20.000000,2.147484e+09,16.000000,16.000000

In [88]:
cars

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
ID,,,,,,,,,,,,,,,,,
45654403,13328,3.5,LEXUS,RX 450,2010-01-01,Jeep,Yes,Hybrid,3.5,186005.0,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
44731507,16621,3.0,CHEVROLET,Equinox,2011-01-01,Jeep,No,Petrol,3.0,192000.0,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
45774419,8467,1.3,HONDA,FIT,2006-01-01,Hatchback,No,Petrol,1.3,200000.0,4.0,Variator,Front,04-May,Right-hand drive,Black,2
45769185,3607,2.5,FORD,Escape,2011-01-01,Jeep,Yes,Hybrid,2.5,168966.0,4.0,Automatic,4x4,04-May,Left wheel,White,0
45809263,11726,1.3,HONDA,FIT,2014-01-01,Hatchback,Yes,Petrol,1.3,91901.0,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45798355,8467,2.0,MERCEDES-BENZ,CLK 200,1999-01-01,Coupe,Yes,CNG,2.0,300000.0,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
45778856,15681,2.4,HYUNDAI,Sonata,2011-01-01,Sedan,Yes,Petrol,2.4,161600.0,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
45804997,26108,2.0,HYUNDAI,Tucson,2010-01-01,Jeep,Yes,Diesel,2.0,116365.0,4.0,Automatic,Front,04-May,Left wheel,Grey,4
45793526,5331,2.0,CHEVROLET,Captiva,2007-01-01,Jeep,Yes,Diesel,2.0,51258.0,4.0,Automatic,Front,04-May,Left wheel,Black,4
45813273,470,2.4,HYUNDAI,Sonata,2012-01-01,Sedan,Yes,Hybrid,2.4,186923.0,4.0,Automatic,Front,04-May,Left wheel,White,12